body{
        background-image: url('../../ressources/img/bg-img-paysage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

#blocImage{
    p{
        width: 100%;
        position: absolute;
        top: 43%;
        left: 0px;
        text-shadow: 1px 1px #28a745;
        text-align: center;
        font-family: "Segoe Script", Arial, Sans-serif;
        font-size: 3.5em;
        color: #f8f9fa;
    }
}

